:root {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  box-sizing: border-box;
  background-color: #d5e1ef;
  font-family: "Outfit";
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /*deal with this later*/
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  box-shadow: 0rem 2.5rem 2.5rem rgba(0, 0, 0, 0.0476518);
  border-radius: 2rem;
  gap: 2.4rem;
  max-width: 32rem;
  padding: 1.6rem 1.6rem 4rem;
  margin: 2.8rem;
}

.card__image {
  border-radius: 1rem;
  width: 100%;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
}

.card__title {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.8rem;
  text-align: center;
  color: #1f314f;
}

.card__subtitle {
  color: #7d889e;
  font-size: 1.5rem;
  font-weight: 400;
  width: 100%;
  max-width: 25.6rem;
  text-align: center;
}
