:root {
  font-size: 62.5%;
}

main {
  background-color: #d5e1ef;
  font-family: "Outfit";
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /*deal with this later*/
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0rem 2.5rem 2.5rem rgba(0, 0, 0, 0.0476518);
  border-radius: 2rem;
  gap: 1.6rem;
  width: 32rem;
  /* height: 49.7rem; deal with this later */
  /* margin-top: 2rem;
  margin-bottom: 4rem; */
}

.card__image {
  border-radius: 1rem;
  margin-top: 1.6rem;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
  gap: 1.6rem;
  width: 28.8rem;
}

.card__title {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.8rem;
  text-align: center;
  color: #1f314f;
}

.card__subtitle {
  color: #7d889e;
  font-size: 1.5rem;
  font-weight: 400;
  width: 25.6rem;
  text-align: center;
}
