body {
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  max-width: 320px;
  max-height: 497px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
  border-radius: 20px;
}

.qrcode {
  border-radius: 10px;
}

.text {
    padding
}
h1 {
  color: #1f314f;
  font-size: 22px;
  font-weight: bold;
}

h2 {
    color: #7D889E;
    font-size: 15px;
    font-weight: 400;
}
